# Build / test output
target/
out/

# Test code
src/test/

# IDE

# Logs
*.log
*.tmp
.DS_Store

# Maven wrapper / local repository
.mvn/
.settings/

# Dev-only databases
h2*.jar

# Dev configs
application-dev.properties
application-test.properties
.env
sonar-project.properties

# Coverage / analysis
jacoco.exec
